package recipePages

import "family/web/layout"

templ CreateRecipe() {
	@layout.Base() {
		<h1>Hello from create recipe</h1>
		// create recipe form - has the name, description, cooking process
		// create recipeitem form - has the name, quantity, quantitytype
		// recipeitems list
		// submit button for recipe form
	}
}
